#root {
  max-width: 1440px;
  
  /* Font Family */
  --font--family : "Titillium Web", sans-serif;
  /* font-family: "politica", sans-serif; */
  /* --color--primary : #7A5936; */
  --color--primary : #FF4B00;
  --color--secondary : #0169A6;
  --color--third : #103329;
  --color--white : #FFFFFF;
  --color--black : #000000;

  --color--black2 : #333333;
  --color--black3 : #666666;
  --color--black4 : #999999;
  --color--black5 : #cccccc;

  /* Font Size */
  /* Title */
  --font--tit--5xl: clamp(3rem, 6vw, 4.5rem);               /* 72px */
  --font--tit--4xl: clamp(2.5rem, 5vw, 3.75rem);            /* 60px */
  --font--tit--3xl: clamp(2rem, 4vw, 3rem);                 /* 48px */
  --font--tit--2xl: clamp(1.5rem, 3vw, 2.25rem);            /* 36px */
  --font--tit--xl: clamp(1.25rem, 2.5vw, 1.5rem);           /* 24px */
  --font--tit--lg: clamp(1.125rem, 2vw, 1.312rem);          /* 21px */
  --font--tit--md: clamp(1rem, 1.8vw, 1.125rem);            /* 18px */
  --font--tit--sm: clamp(0.875rem, 1.5vw, 1rem);            /* 16px */
  --font--tit--xs: clamp(0.75rem, 1.2vw, 0.875rem);         /* 14px */
  --font--tit--2xs: clamp(0.625rem, 1vw, 0.75rem);          /* 12px */

  /* Text */
  --font--txt--3xl: clamp(1.125rem, 2.5vw, 1.5rem);         /* 24px */
  --font--txt--2xl: clamp(1rem, 2vw, 1.375rem);             /* 22px */
  --font--txt--xl: clamp(0.875rem, 1.8vw, 1.25rem);         /* 20px */
  --font--txt--lg: clamp(0.75rem, 1.5vw, 1.125rem);         /* 18px */
  --font--txt--md: clamp(0.75rem, 1.2vw, 1rem);             /* 16px */
  --font--txt--sm: clamp(0.625rem, 1vw, 0.875rem);          /* 14px */
  --font--txt--xs: clamp(0.5rem, 0.8vw, 0.75rem);           /* 12px */

  /* Font weight*/
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;
}


.color-black1{
  color: var(--color--black1);
}
.color-black2{
  color: var(--color--black2);
}
.color-black3{
  color: var(--color--black3);
}
.color-black4{
  color: var(--color--black4);
}
.color-black5{
  color: var(--color--black5);
}
.border-color-black1 {
  border-color: var(--color--black1);
}

.background-color-black1 {
  background-color: var(--color--black1);
}
.background-color-black2 {
  background-color: var(--color--black2);
}
.background-color-black3 {
  background-color: var(--color--black3);
} 
.background-color-black4 {
  background-color: var(--color--black4);
}
.background-color-black5 {
  background-color: var(--color--black5);
}

.border-color-white {
  border-color: var(--color--white);
}

.border-color-black2 {
  border-color: var(--color--black2);
}

.border-color-black3 {
  border-color: var(--color--black3);
}

.border-color-black4 {
  border-color: var(--color--black4);
}

.border-color-black5 {
  border-color: var(--color--black5);
}

/* Titillium Web Font*/
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.title {
  font-family: var(--font--family);
  font-size: var(--font--tit--xs);
}

.introjs-tooltip {
  background-color: #1f2937; /* slate-800 */
  color: #f8fafc;            /* slate-50 */
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;

  width: auto;

  font-family: "Titillium Web", sans-serif !important;
}

.introjs-button {
  background-color: #0169A6 !important; /* blue-500 */
  color: white !important;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 400;
}

.introjs-skipbutton {
  color: #FF4B00 !important; /* slate-400 */
}

.introjs-progressbar {
  background-color: #FF4B00 !important; /* yellow-400 */
}

/* App.css 또는 custom css에 다음 추가 */
.introjs-button {
  text-shadow: none !important;
  font-weight: 500 !important;
}